body.darkmode code[class^='language-'] { background-color: #333; color: #f8f8f2}
body.darkmode code[class^='language-'] .hll { background-color: #49483e }
body.darkmode code[class^='language-'] .c { color: #75715e } /* Comment */
body.darkmode code[class^='language-'] .err { color: #960050; background-color: #1e0010 } /* Error */
body.darkmode code[class^='language-'] .k { color: #66d9ef } /* Keyword */
body.darkmode code[class^='language-'] .l { color: #ae81ff } /* Literal */
body.darkmode code[class^='language-'] .n { color: #f8f8f2 } /* Name */
body.darkmode code[class^='language-'] .o { color: #f92672 } /* Operator */
body.darkmode code[class^='language-'] .p { color: #f8f8f2 } /* Punctuation */
body.darkmode code[class^='language-'] .cm { color: #75715e } /* Comment.Multiline */
body.darkmode code[class^='language-'] .cp { color: #75715e } /* Comment.Preproc */
body.darkmode code[class^='language-'] .c1 { color: #75715e } /* Comment.Single */
body.darkmode code[class^='language-'] .cs { color: #75715e } /* Comment.Special */
body.darkmode code[class^='language-'] .ge { font-style: italic } /* Generic.Emph */
body.darkmode code[class^='language-'] .gs { font-weight: bold } /* Generic.Strong */
body.darkmode code[class^='language-'] .kc { color: #66d9ef } /* Keyword.Constant */
body.darkmode code[class^='language-'] .kd { color: #66d9ef } /* Keyword.Declaration */
body.darkmode code[class^='language-'] .kn { color: #f92672 } /* Keyword.Namespace */
body.darkmode code[class^='language-'] .kp { color: #66d9ef } /* Keyword.Pseudo */
body.darkmode code[class^='language-'] .kr { color: #66d9ef } /* Keyword.Reserved */
body.darkmode code[class^='language-'] .kt { color: #66d9ef } /* Keyword.Type */
body.darkmode code[class^='language-'] .ld { color: #e6db74 } /* Literal.Date */
body.darkmode code[class^='language-'] .m { color: #ae81ff } /* Literal.Number */
body.darkmode code[class^='language-'] .s { color: #e6db74 } /* Literal.String */
body.darkmode code[class^='language-'] .na { color: #a6e22e } /* Name.Attribute */
body.darkmode code[class^='language-'] .nb { color: #f8f8f2 } /* Name.Builtin */
body.darkmode code[class^='language-'] .nc { color: #a6e22e } /* Name.Class */
body.darkmode code[class^='language-'] .no { color: #66d9ef } /* Name.Constant */
body.darkmode code[class^='language-'] .nd { color: #a6e22e } /* Name.Decorator */
body.darkmode code[class^='language-'] .ni { color: #f8f8f2 } /* Name.Entity */
body.darkmode code[class^='language-'] .ne { color: #a6e22e } /* Name.Exception */
body.darkmode code[class^='language-'] .nf { color: #a6e22e } /* Name.Function */
body.darkmode code[class^='language-'] .nl { color: #f8f8f2 } /* Name.Label */
body.darkmode code[class^='language-'] .nn { color: #f8f8f2 } /* Name.Namespace */
body.darkmode code[class^='language-'] .nx { color: #a6e22e } /* Name.Other */
body.darkmode code[class^='language-'] .py { color: #f8f8f2 } /* Name.Property */
body.darkmode code[class^='language-'] .nt { color: #f92672 } /* Name.Tag */
body.darkmode code[class^='language-'] .nv { color: #f8f8f2 } /* Name.Variable */
body.darkmode code[class^='language-'] .ow { color: #f92672 } /* Operator.Word */
body.darkmode code[class^='language-'] .w { color: #f8f8f2 } /* Text.Whitespace */
body.darkmode code[class^='language-'] .mf { color: #ae81ff } /* Literal.Number.Float */
body.darkmode code[class^='language-'] .mh { color: #ae81ff } /* Literal.Number.Hex */
body.darkmode code[class^='language-'] .mi { color: #ae81ff } /* Literal.Number.Integer */
body.darkmode code[class^='language-'] .mo { color: #ae81ff } /* Literal.Number.Oct */
body.darkmode code[class^='language-'] .sb { color: #e6db74 } /* Literal.String.Backtick */
body.darkmode code[class^='language-'] .sc { color: #e6db74 } /* Literal.String.Char */
body.darkmode code[class^='language-'] .sd { color: #e6db74 } /* Literal.String.Doc */
body.darkmode code[class^='language-'] .s2 { color: #e6db74 } /* Literal.String.Double */
body.darkmode code[class^='language-'] .se { color: #ae81ff } /* Literal.String.Escape */
body.darkmode code[class^='language-'] .sh { color: #e6db74 } /* Literal.String.Heredoc */
body.darkmode code[class^='language-'] .si { color: #e6db74 } /* Literal.String.Interpol */
body.darkmode code[class^='language-'] .sx { color: #e6db74 } /* Literal.String.Other */
body.darkmode code[class^='language-'] .sr { color: #e6db74 } /* Literal.String.Regex */
body.darkmode code[class^='language-'] .s1 { color: #e6db74 } /* Literal.String.Single */
body.darkmode code[class^='language-'] .ss { color: #e6db74 } /* Literal.String.Symbol */
body.darkmode code[class^='language-'] .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
body.darkmode code[class^='language-'] .vc { color: #f8f8f2 } /* Name.Variable.Class */
body.darkmode code[class^='language-'] .vg { color: #f8f8f2 } /* Name.Variable.Global */
body.darkmode code[class^='language-'] .vi { color: #f8f8f2 } /* Name.Variable.Instance */
body.darkmode code[class^='language-'] .il { color: #ae81ff } /* Literal.Number.Integer.Long */
body.darkmode code[class^='language-'] .gh { } /* Generic Heading & Diff Header */
body.darkmode code[class^='language-'] .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
body.darkmode code[class^='language-'] .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
body.darkmode code[class^='language-'] .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
