#main code, code * { color: #675D69; }
code[class^='language-'] .k:not([id^='MathJax']) { color: #143A77; }
code[class^='language-'] .kp:not([id^='MathJax']) { color: #8C5DC7; }
code[class^='language-'] .kd:not([id^='MathJax']) { color: #8C5DC7; }
code[class^='language-'] .mi:not([id^='MathJax']) { color: #8C5DC7; }
code[class^='language-'] .s:not([id^='MathJax']) { color: #0060B0; }
code[class^='language-'] .c:not([id^='MathJax']) { color: #91B9A3; }
code[class^='language-'] .o:not([id^='MathJax']) { color: #009DE7; }