#main code, code * { color: #675D69; }
code[class^='language-'] .k { color: #143A77; }
code[class^='language-'] .kp { color: #8C5DC7; }
code[class^='language-'] .kd { color: #8C5DC7; }
code[class^='language-'] .mi { color: #8C5DC7; }
code[class^='language-'] .s { color: #0060B0; }
code[class^='language-'] .c { color: #91B9A3; }
code[class^='language-'] .o { color: #009DE7; }