@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontelloe.eot?23005170');
  src: url('/fonts/fontelloe.eot?23005170#iefix') format('embedded-opentype'),
       url('/fonts/fontellow.woff?23005170') format('woff'),
       url('/fonts/fontellot.ttf?23005170') format('truetype'),
       url('/fonts/fontellos.svg?23005170#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;
}
 
.icon-check:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-fork:before { content: '\e802'; } /* '' */