body {
  background: #F5F7F6;
  color: #000000;
  margin: 0; padding: 0;
  max-width: 720px;

  text-rendering: optimizelegibility;

  font-family: Palatino, serif;
  line-height: 20px;
}

#sidebar {
  margin: 15px;
  float: left;
  width: 205px;
  padding: 10px 0;

  background-color: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

  transition: margin-left 1s;
}

#sidebar.collapsed { margin-left: -180px; }

#sidebar ul { padding: 0 1em; margin: 0; list-style-type: none; }
#sidebar li:before {         content: '⁃'; padding-right: 0.5em; color: black; }
#sidebar li.visited:before { content: '✔'; padding-right: 0.2em; color: green; }


.abs-hamburger {
  position: relative;
  width: 0; height: 0;
}
.nav-toggle {
  position: absolute;
  left: 175px;
  width: 25px; height: 25px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}
.nav-toggle span, 
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 1px;
  height: 5px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  box-shadow: inset 0px 0px 2px 0px #000;
}
.nav-toggle span:before { top: -8px; }
.nav-toggle span:after { bottom: -8px; }
.nav-toggle span { margin-top: 9.5px; }


article {
  margin: 15px;

  transition: max-width 1s;
}
article.expanded { max-width: 680px; }


a { text-decoration: none; }
a:link, a:visited { color: #B45D47; }
a:hover { color: #FE3B3B; }


pre, code { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }
code {
  border-radius: 1px;
  background-color: #FFF;
  padding: 0.2em;
}
pre code {
  display: block;
  padding: 1em;
  white-space: pre-wrap;
}


h1, h2, h3, h4, h5, h6 { line-height: 125%; }


footer {
  margin-top: 50px;
  clear: both;

  text-align: center;
  color: #777;
}
footer ul { list-style: none; margin: 0; padding: 0; }
footer li { display: inline; }
footer li+li:before { content: '|'; }
footer a:link, footer a:visited { color: #777; }
footer a:hover { color: #999; }

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
