* {
  margin: 0;
  padding: 0;

  font-family: Palatino, serif;
  box-sizing: border-box;
}

body {
  background: #F5F7F6;
  line-height: 20px;
  text-rendering: optimizelegibility;
}

a {
  text-decoration: none;
}

a:link, a:visited{
  color: #B45D47;
}

a:hover {
  color: #FE3B3B;
}

#main {
  position: absolute;

  top: 40px;
  left: 255px;

  max-width: 600px;
}

#main #gh-buttons {
  float: right;
  margin-bottom: 22px;
}

#main #starcount {
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  color: #000;

  position: absolute;
  display: block;
  float: right;
  right: 5px;
  width: 3em;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;

  height: 20px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
  margin-bottom: 0.75em;
}

#main p {
  margin: 20px 0px;
  margin-right: 1em;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main ul li {
  list-style-type: square;
}

#main table, th, td {
  border-collapse: collapse;
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 3px;
}

#main table {
  box-shadow: 1px 3px 12px #BBB;
  margin: 20px 10px 20px 0px;
}

#main code, code * {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

#main code {
  background: #FFFFFF;
  padding: 0px 3px;
}

#main pre code { /* Block Code */
  display: block;
  word-wrap: break-word;
  overflow: auto;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  border-radius: 3px;
  background:#FFF;
  box-shadow:1px 3px 12px #BBB;
  padding: 10px 15px;
  margin: 20px 10px 20px 0px;
}

#main span.line-numbers {
  display: none;
}

#sidebar {
  float: left;
  margin-top: 40px;
  margin-left: 0px;
  width: 211px;

  padding: 20px;
  padding-left: 30px;

  border-right: 1px solid #ccc;

  font-size: 90%;
  line-height: 20px;
  box-sizing: border-box;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #470000;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  position: relative;
  left: 20px;
  list-style: decimal-leading-zero;
  list-style-position: outside;
}

#sidebar ul li ul {
  width: 100px
}

#sidebar #toc-list {
  left: 20px;
}

#sidebar a.visited:before { /* selected with JS */
  content: "";
  font-family: "fontello";
  position: absolute;
  left: -43px;
  color: #EEE;
  text-shadow: -1px 0 #2B2B2B, 0 1px #2B2B2B, 1px 0 #2B2B2B, 0 -1px #2B2B2B
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #sidebar ul { text-indent: -5px; }
  #sidebar #toc-list { left: 25px; }
}